*.pyc
__pycache__/

# Django & Application Logs
*.log
*.log.*
logs/
**/logs/
requests_analysis.state.json
**/requests_analysis.state.json
local_settings.py
db.sqlite3
db.sqlite3-journal
/media
**/staticfiles/
**/static/
media/

# Environment variables
.env
.venv/
cache/
